.background {
  background: center url(pattern.png);
}

.logo {
  background-image: url(logo.png);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url(pattern.png);
}

.watermark {
  background-image: url(logo.png);
  background-size: 57px 57px;
}
